
body{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

img{
    display: inline-block;
    height: 100px;
    width: 100px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

a::hover{
    color: rgb(32, 32, 32);
}

ul{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-bg{
background: rgb(255, 234, 0);  
}

.header{
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

header .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sobre{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-bg{
    background-color: rgb(255, 208, 0);
}

.main{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
}

p{
 max-width: 80ch;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}